<div class="col-md-6 col-md-offset-3">

<%= form_for(resource, as: resource_name, url: admin_registration_path, html: { method: :patch, class: "form-horizontal" }) do |f| %>
  <%= render 'shared/error_messages', target: resource %>

  <div class="form-group">
    <%= f.label :current_password, "旧密码", class: "col-sm-2 control-label" %>
    <div class="col-sm-8">
      <%= f.password_field :current_password, autocomplete: "off", class: "form-control" %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label :password, "密码", class: "col-sm-2 control-label" %>
    <div class="col-sm-8">
      <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation, "确认密码", class: "col-sm-2 control-label" %>
    <div class="col-sm-8">
      <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-2 col-sm-offset-2">
      <%= f.submit "修改", class: "btn btn-success" %>
    </div>
  </div>
<% end %>
</div>

