<table class="table table-hover">
  <thead>
    <tr>
      <th>ID</th>
      <th>评论内容</th>
      <th>评论人</th>
      <th>所属目标记录</th>
      <th>评论时间</th>
      <th>操作</th>
    </tr>
  </thead>

  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.id %></td>
        <td><%= comment.body %></td>
        <td><%= comment.user.try(:nickname) %></td>
        <td><%= comment.note.try(:body) %></td>
        <td><%= comment.created_at.strftime('%Y-%m-%d %H:%M:%S') %></td>
        <td>
          <%= link_to "删除", comment_path(comment), method: :delete, data: { confirm: '您确定吗？' }, class: "btn btn-danger btn-xs" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div style="text-align: center;"><%= will_paginate @comments, renderer: BootstrapPagination::Rails %></div>